---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="page-heading">{{ page.list_title | default: "Zadnje objave" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">
          <!-- slo. datumi -->
          {% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d. " }}{% case m %}{% when '1' %}januar{% when '2' %}februar{% when '3' %}marec{% when '4' %}april{% when '5' %}maj{% when '6' %}junij{% when '7' %}julij{% when '8' %}avgust{% when '9' %}september{% when '10' %}oktober{% when '11' %}november{% when '12' %}december{% endcase %}{{ post.date | date: " %Y" }}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
        <div class="read-more">
          <a href="{{ post.url }}"> preberi celoten zapis ☞</a>  
        </div>
        
      </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">Če si eden tistih, ki se rad naroči na RSS, potem se <a href="{{ "/feed.xml" | relative_url }}">naroči na RSS</a></p>
  {% endif %}

</div>