---
layout: home
title:  Spletna stran podkasta Opravičujemo se za vse nevšečnosti.
image:  /assets/img/opravicujemose.jpg
---

{% include about.html %}

<!-- INDEX CONTENT -->
{{ content }}
<!-- END INDEX CONTENT -->

<div class="about">
  <p>Če bi radi podkast podprli 💸, se nanj naročili 🔗 ali ga ocenili ⭐️⭐️⭐️⭐️⭐️, lahko to storite na <a href="http://hvalazavseribe.si" target="_blank">hvalazavseribe.si</a>! Hvala! 🙏</p>
  <p>P.S.: V Innsbruck gremo čez {% include counter.html %}... še prej pa v Indijo po motorje <a href="https://www.jawamotorcycles.com/motorcycles/42" target="_blank">Jawa 42</a>. 🏍 </p>
  <div id="rtp-button"></div>
</div>

{% include sponzorji.html %}

  {% if site.posts.size > 0 %}
    <h4>{{ page.list_title | default: "Seznam vseh epizod podkasta" }}</h4>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <time class="post-meta">{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d. " }}{% case m %}{% when '1' %}januar{% when '2' %}februar{% when '3' %}marec{% when '4' %}april{% when '5' %}maj{% when '6' %}junij{% when '7' %}julij{% when '8' %}avgust{% when '9' %}september{% when '10' %}oktober{% when '11' %}november{% when '12' %}december{% endcase %}{{ post.date | date: " %Y" }}</time>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }} 
          </a>
        </h3>
        <h6 class="post-number">{{ post.number }}</h6>
        <p>{{ post.tagline }}</p>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>{% endfor %}
    </ul>{% endif %}

<h4 id="ustvarjalci">Ustvarjalci</h4>

<p>Podkast ustvarjamo Aljo - <a href="https://twitter.com/kozli42">@kozli42</a>, Peli - <a href="https://twitter.com/DavorinPavlica">@davorinpavlica</a> &amp; Zi - <a href="https://twitter.com/gregorzalaznik">@gregorzalaznik</a>.</p>

<h4 id="naroči-se-na-podkast">Če ti je podkast všeč, se nanj naroči. Hvala!</h4>

<p>Smo na sledečih platformah:</p>
<ul>
  <li><a href="https://apple.co/38zBEWW">Apple Podcasts</a>,</li>
  <li><a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMmI1YTUwMC9wb2RjYXN0L3Jzcw">Google Podcasts</a>,</li>
  <li><a href="https://overcast.fm/p1800312-cfXucP">Overcast</a>,</li>
  <li><a href="https://pca.st/zqlh1e4s">Pocket Casts</a>,</li>
  <li>seznam vseh platform pa najdete na <a href="https://hvalazavseribe.si">hvalazavseribe.si</a>.</li>
</ul>

<p>Lahko nam pošlješ tudi e-pošto, bomo še bolj veseli! Ali pa vsaj toliko. Najbolje na e-poštni naslov <strong>hvalazavseribe afna zvpl pika com</strong>. Res hvala. 🙏</p>

<script>window.RTP_CONFIG = {link: 'opr', mode: 'button'};</script><script src="https://ratethispodcast.com/embed.js" defer></script>