<div class="about">
  <p><a href="https://apple.co/38zBEWW">Opravičujemo se za vse nevšečnosti</a> je podkast o življenju, vesolju in sploh vsem ... v katerem po nekem čudnem naključju vsako epizodo obdelamo eno poglavje kultne trilogije v petih delih <i>Štoparski vodnik po Galaksiji</i>, ki jo je napisal <strong>Douglas Adams</strong>. Še veš kje imaš brisačo?</p>
</div>

{% include note.html content="Pridruži se nam na Slacku. 🎉 Debatiramo o <a href=https://bit.ly/opr-slack>življenju, vesolju in sploh vsem</a>. 💬" %}

<h4>Zadnja epizoda</h4>