<div class="about">
  <p><a href="https://apple.co/38zBEWW">Opravičujemo se za vse nevšečnosti</a> je podkast o življenju, vesolju in sploh vsem ... v katerem po nekem čudnem naključju vsako epizodo obdelamo eno poglavje kultne trilogije v petih delih <i>Štoparski vodnik po Galaksiji</i>, ki jo je, ko smo bili še majhni, napisal <strong>Douglas Adams</strong>. Še veš kje imaš brisačo?</p>
  <p>Če bi radi podkast podprli, se nanj naročili ali ga ocenili, vabljeni na <a href="http://hvalazavseribe.si" target="_blank">hvalazavseribe.si</a>! Hvala! 🙏</p>
  <p>P.S.: V Innsbruck gremo čez {% include counter.html %}</p>
</div>

<h3>Zadnja epizoda</h3>