<div class="about">
  <p><a href="https://apple.co/38zBEWW">Opravičujemo se za vse nevšečnosti</a> je  najbolj divje netočen podkast o življenju, vesolju in sploh vsem. Sproščene, duhovite, občasno (samo)ironične, absurdno (ne)resne, kaotične, poljudno filozofske debate o vsem mogočem. V <a href="../sezona/07/">S07</a> beremo knjigo <i>Zadnja priložnost</i>, ki jo je skupaj z <strong>Markom Carwardineom</strong> napisal <strong>Douglas Adams</strong>. Še veš, kje imaš daljnogled za opazovanje redkih vrst? 🔭</p>
</div>

{% include carousel.html %}