<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17840043276"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17840043276');
</script>
<!-- END gtag.js --> 
  {% include meta.html %}
  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.tagline }} - {{ page.tagline }}{% endif %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/carousel.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/PodcastFont.css">
  <!-- RSS --> 
  <link rel="alternate" type="application/rss+xml" title="Opravičujemo se za vse nevšečnosti" href="https://anchor.fm/s/22b5a500/podcast/rss" />
  <!-- Apple Podcasts mobile banner -->
  <meta content="app-id=1514750013" name="apple-itunes-app">
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
  <!-- Apple icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png@2x.png">
</head>

<body>
  <!-- <section class="container"> -->
  <h1 class="post-title" itemprop="name headline"><a href="../" title="... na vstopno stran Opravičujemo se za vse nevšečnosti">Opravičujemo se za vse nevšečnosti 🐋</a></h1>