<head>
  {% include meta.html %}
  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default.css">
</head>

<body>
  <h1 class="post-title" itemprop="name headline"><a href="../" title="... na vstopno stran Opravičujemo se za vse nevšečnosti">Opravičujemo se za vse nevšečnosti 🐋</a></h1>