<h4>Ekonomski prijateljski program:</h4>
<ul>
  <li>👩‍💻 <a href="https://hvalazavseribe.si/sportradar/" target="_blank">Službe na Sportarju</a>: Če iščeš službo v IT-ju, v ljubljanski kliki Sportradarja imajo službe za takšne in drugačne geekice ali geeke.</li>
  <li>🍻 <a href="https://www.pelicon.beer/" target="_blank">pelicon.beer</a>: s kodo BREZPANIKE imate poslušalke in poslušalci 10% popust. Več o popustih <a href="https://hvalazavseribe.si/pelicon/" target="_blank">tule.</a></li>
  <li>🚵‍♀️ <a href="https://www.arbischa.si/" target="_blank">arbischa.si</a>: dol bicikl gre kr sam, gor pa pelje šatl, večkrat na dan!</li>
</ul>