<h4>Ekonomski prijateljski program:</h4>
<ul>
  <li>👓 <a href="https://www.dellaspina.si/" target="_blank">Della Spina:</a> brezplačni preizkus očal, 7 dnevni preizkus na domu in brezplačna dostava!</li>
  <!-- <li>👩‍💻 <a href="https://hvalazavseribe.si/sportradar/" target="_blank">Službe v Sportarju</a>: če iščeš službo v IT-ju, v ljubljanski kliki Sportradarja je služb na pretek.</li> -->
  <!-- <li>🍻 <a href="https://www.pelicon.beer/" target="_blank">pelicon.beer</a>: s kodo BREZPANIKE imate poslušalke in poslušalci -10% popust. Čin. -->
</ul>