.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -3px;
  font-size: 0.95em;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 3.25rem 0.4rem 1rem 0.4rem;
  border-radius: 50%;
  z-index: 1;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}
.slider__nav:checked {
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: flex;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 8px #333, 0 0 0 16px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 8px #333, 0 0 0 16px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


.slider__inner {
    transition: left 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}