* {
  box-sizing: border-box;
  scrollbar-color: auto; /* thumb and track color */
  scrollbar-width: 0;
}

body {
	font-family: 'Lora', serif;
	background: #fff;
	color: rgba(0,0,0, 0.85);
	font-size: 1.2em;
	line-height: 1.4em;
	max-width: 88rem;
	margin: auto; 
	padding: 0 10%;
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background: #333333;
    color: rgba(255,255,255, 0.85);
  }
}

@media screen and (min-width: 1280px) {
body {
	max-width: 80rem;
	padding: 0 5%;
	}
}


/*
.container {
  display: flex;
  align-content: center;
  margin: auto
}
*/

/*
@media screen and (min-width: 1440px) {
	body {
		max-width: 53em;
		font-size: 1.3em;
		line-height: 1.5em;
	}
}

@media screen and (min-width: 1920px) {
	body {
		max-width: 58em;
		font-size: 1.6em;
		line-height: 1.5em;
	}
}
*/
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    color: rgba(0,0,0, 0.80);
    /*color: #092049;*/ 
}
@media screen and (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6 {
    color: rgba(255,255,255, 0.90);
  }
}

h1 {
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding: 0.2em 0 0.6em 0;
}

@media screen and (max-width: 600px) {
h1 {
	font-size: 1.5em;
	line-height: 0.9em;
	}
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 2em;
	line-height: 2.4rem;
}

h3:first {
	background: rgba(42,42,42, 0.67);
}
@media screen and (prefers-color-scheme: dark) {
  h3:first {
    background: rgba(0,0,0, 0.21);
  }
}


h4, .page-heading, .pagination span {
    color: rgba(0,0,0, 0.67);
    letter-spacing: 2px;
    padding: 0;
    text-transform: uppercase;
    font-weight: lighter;
}
@media screen and (prefers-color-scheme: dark) {
  h4, .page-heading {
    color: rgba(255,255,255, 0.67);
  }
  .pagination span {
    color: rgba(255,255,255, 0.67);
    font-weight: lighter;
  }
}

.page-heading {
	letter-spacing: 1px;
}

h3 {
	font-size: 1.5em;
	margin: 0.7em 0;
}


@media screen and (max-width: 600px) {
h2 { line-height: 1.0em }
}

h6,
h6.post-number {
    color: rgba(0,0,0, 0.42);
    margin-top: -1.83em;
    margin-left: 0.1em;
    margin-bottom: -0.1em;
    font-weight: 400;
}
@media screen and (prefers-color-scheme: dark) {
  h6,
  h6.post-number {
    color: rgba(255,255,255, 0.42);
  }
}

h6.post-number {
	font-size: 0.6em;
	line-height: 0.6em;
    margin-top: -0.5em;
    margin-bottom: 2.4em;
	padding: 0;
}

a {
    color: #042402; 
}
@media screen and (prefers-color-scheme: dark) {
  a {
    /*color: #00BBFF;*/
    color: #00adec;
  }
}

p {
	padding: 0 0 0 1em;
}

p.coming-soon {
	text-transform: uppercase;
	padding: 1em;
	border: 1px solid #eee;
	margin-bottom: 2.2em;
	letter-spacing: 2px;
	color: rgba(0,0,0, 0.74);
	text-align: center;
}

iframe {
	margin-bottom: -24px;
}

ul, ol {
	padding: 0 0 0 3em;
}

.zapiski li {
	padding: 0 3px;
}


@media screen and (max-width: 600px) {
	ul, ol {
		padding: 0 0 0 2em;
	}
}


img {
	max-width: 100%;
	display: block;
	margin: .75em auto;
}

blockquote {
    color: #444;
    border-left: 4px solid #444;
    padding-left: 0.1em;
    font-size: 1.2375rem;
    letter-spacing: 0px;
    font-style: italic;
    margin: 0 0 0 1em;
}

small, small a, small a:hover, small a:focus {
	color: rgba(0,0,0, 0.42);
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
	outline: none;
}
@media screen and (prefers-color-scheme: dark) {
  small, small a, small a:hover, small a:focus {
    color: rgba(255,255,255, 0.42);
  }
}

@media screen and (max-width: 600px) {
	iframe {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
.about p, .alert {
	font-size: 0.8em;
	line-height: 1.1em;
	}
}

.about {
	background: #eee;
	padding: 0.1em 0.5em; 
	margin-top: -1.33em;
	font-weight: 100;
	color: rgba(0,0,0,0.84);
    border-radius: 0 0 4px 4px;
}
@media screen and (prefers-color-scheme: dark) {
  .about {
    background: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.84);
  }
}

.about p {
	font-size: 1em;
	line-height: 1.3em;
	padding: 0 0.5em;
}

.about p strong {font-weight: 700;}

@media screen and (max-width: 600px) {
.about p {
	font-size: 0.8em;
	line-height: 1.1em;
	}
}

ul.post-list, .noUl {
  list-style-type: none;
}

.noUl {
	margin-left: -1em;
}


ul.post-list .post-meta {
	background: rgba(0,0,0,0.1);
	padding: 0.3em;
	margin-left: -2em;
	color: #042042;
}
@media screen and (prefers-color-scheme: dark) {
  ul.post-list .post-meta {
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255, 0.42);
  }
}

@media screen and (max-width: 600px) {
	ul.post-list .post-meta {
		margin-left: 0em;
	}

	ul.post-list {
		padding: 0;
	}
}

ul.post-list p {
	font-size: 0.9em;
	margin-top: -1em;
}

article {
	
}

article time, .readMore a {
	background: #042042;
	padding: 0.3em;
	margin-left: -2em;
	color: #fff;
}
@media screen and (prefers-color-scheme: dark) {
  article time, .readMore a {
    background: rgba(255,255,255, 0.11);
    color: rgba(255,255,255, 0.42);
  }
}

@media screen and (max-width: 600px) {
	article time {
		margin-left: -2.1em;
	}
}

div.readMore {
    text-align: right;
    margin-top: 20px;
    height: 80px;
}

@media screen and (max-width: 600px) {
	div.readMore {
	    display: flex;
	    justify-content: flex-end;
	    width: 180px;
	    margin: 0 0 -15px auto;
	    padding: 10px 0 20px 0;
	}

}

.readMore a {
	color: #fff;
	text-align: right;
	padding: 4px 12px;
}

.post-content {
	display: flow-root;
}

.post-content iframe {
	margin: 0;
}

.post-content img {
	float: right;
	width: 30%;
	padding: 0 0 0;
	margin: -1em -2em 0 0;
}

.post-content img:after {
	clear: left;
}

.post-content h2 {
  display: block;
  min-width: 70%;
  max-width: 100%;
  heigth:auto;
  margin: 0.2em 0 0.8em 0 ;
}

@media screen and (max-width: 600px) {
	.post-content img {
		margin: 0 -1em 0 0;
		width: 40%;
	}
}


.prev-next-post-wrapper:after {
 content:"";
 display:table;
 clear:both
}

.prev-next-post {
 padding: 0 0 1.1em 0;
}

.prev-next-post p {
	padding: 0;
}

.prev-next-post-wrapper {
 font-size:1.03125rem;
 color:#828282;
 margin-left:-15px
}
.prev-next-post-col {
 float:left;
 margin-bottom:15px;
 padding-left:15px
}
.prev-next-post-col-1 {
 width:-webkit-calc(50% - (30px / 2));
 width:calc(50% - (30px / 2))
}
.prev-next-post-col-2 {
 width:-webkit-calc(50% - (30px / 2));
 width:calc(50% - (30px / 2))
}

article.post {
	padding-bottom: 1px;
}


/* ALERTS */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-top: -4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link, .alert-info a {
    color: #245269;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534;
}

@media screen and (prefers-color-scheme: dark) {
  .alert-success, .alert-danger,  .alert-warning, .alert-info {
    background: rgba(255, 255, 255, 0.21);
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
    border:  none;
  }
  .alert-link {
    color: #fff;
  }
}

hr {
	border: 1px solid #ccc;
}
@media screen and (prefers-color-scheme: dark) {
  hr {
    border: 1px solid rgba(255,255,255, 0.3);
  }
}

.listenWrapNoMargin, .listenWrap {
  display: flex;
  flex-wrap: wrap;   /* omogoči prelom v novo vrstico */
  gap: 0.58rem;       /* razmik med gumbi */
}

.listen, h4.listens {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	font-weight: 300;
}

.listen {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 8px;
  margin: 0px 0;      /* malo prostora navpično */
  white-space: nowrap; /* da se tekst ne lomi znotraj gumba */
}

/*.listen {
    padding: 12px 12px;
    border: 1px #ccc solid;
	display: inline-flex;
	flex-flow: row;
	flex-direction: row;
	margin: -24px 4px 0 0;
	font-size: 0.90em;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 8px;
	padding: 8px;
}
*/
.listen>a {
	color: #042042;
}

.listen i {
	color: #042042;;
	line-height: 1.5em;
}


.listen a {
		background: #fff;
    transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
    text-decoration: none;
}

.listen a:hover {
	color: #000;
	text-decoration: none;
}

a:focus {
	outline:thin dotted rgba(207, 40, 47, 0.4)
}

@media screen and (prefers-color-scheme: dark) {
  .listen>a, .listen i {
    color: rgba(255,255,255, 0.54);
    background: #333333;
  }

  .listen a:hover {
	color: rgba(255,255,255, 1);
  }

}

h4.listens {
	margin: 2em 0 0 0;
  color: rgba(0,0,0, 0.67);
  font-size: 0.8em;
  line-height: 0.8em;
	display: flex;
	flex-basis: 100%;

}

@media screen and (prefers-color-scheme: dark) {
  h4.listens {
    color: rgba(255,255,255, 0.42);
  }
}

div.pagination {
	padding: 0;
}

.pagination, .pagination a {
	padding: 10px 20px;
	/*font-size: 0.9em;*/
	margin: 42px 0;
}

.pagination em {
	padding: 10px 20px;
	background: #042042;
	color: #fff;
}

.pagination a {
	background: rgba(0,0,0,0.1);
	}

.pagination .prevnext {
	background: none;
	padding: 0 5px;
	color: #042042;
}

@media screen and (max-width: 600px) {
	.pagination span {
		display: block;
		padding-bottom: 10px;
		/*font-size: 0.9em;*/
	}

	.pagination .prevnext {display: none;}
}

.user {
	background: #ccc;
	display: inline-flex;
	flex-flow: row;
	flex-direction: row;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 8px;
/*	border: 1px solid rgba(0, 0, 0, 0.1);
*/	width: 48px;
	height: 48px;
	transition: box-shadow 0.3s ease-in-out;

}

.Aljo {
	background: url(/assets/img/profile-pic-aljo.jpg) 0 0 no-repeat;
}

.Peli {
	background: url(/assets/img/profile-pic-peli.jpg) 0 0 no-repeat;
}

.Zi {
	background: url(/assets/img/profile-pic-zi.jpg) 0 0 no-repeat;
}

.Aljo, .Peli, .Zi {
	background-size: 48px;
	box-shadow: 0 4px 10px rgb(0 0 0 / 0.3), 0 -4px 16px rgb(0 0 0 / 0.1), 0 0 1px rgb(0 0 0 / 0.9);
}

.user:hover {
	box-shadow: 0 6px 10px rgb(0 0 0 / 0.3), 0 4px 24px rgb(0 0 0 / 0.1), 0 0 2px rgb(0 0 0 / 0.9);	
}


@media screen and (prefers-color-scheme: dark) {
  .pagination em {
	background: rgba(255,255,255, 0.84);
	color: #000;
  }

  .pagination a {
	background: rgba(255,255,255,0.1);
  }

  .pagination .prevnext {
	color: rgba(255,255,255, 0.67);
  }

  .alert-link {
    color: rgba(255,255,255, 0.67) !important;
  }
}


.hero-image-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}